<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch</title>
</head>
<body>
    <script type="text/Javascript" th:inline="javascript">
        let switch_control=[[${switch_control}]];
        if(switch_control){
            window.location.replace("http://localhost:8080/admin/index");
        }
        else{
            window.location.replace("http://localhost:8080/user/index");
        }
    </script>
</body>
</html>