body{
    background: white!important;
}

.f-container{
    width: 50%;
    background-color: white;

}

.fhead{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    margin-left: 35%;
}